html {
    height: 100%;
}

body {
    display: grid;
    min-height: 100%;
    grid-template-rows: 1fr auto;

    main {
        margin-top: $header-height;
    }
}

.footer {
    grid-row-start: 2;
    grid-row-end: 3;
}
